* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
  color: #ebdbb2;
}

window#waybar {
  background: #1d2021;
}

#workspaces button label {
  color: #ebdbb2;
  padding: 0 10px;
}
#workspaces button.active label {
  color: #1d2021;
}
#workspaces button.active {
  background: #D5C4A1;
}

#power, #clock, #battery, #pulseaudio, #tray, #network,
#custom-power, #custom-microphone {
  padding: 0 10px;
  margin: 3px 2px;
  background: #D5C4A1;
  color: #1d2021;
}

#custom-microphone,
#custom-microphone.muted {
  color: #1d2021;
  min-width: 14px;
}

#custom-microphone.muted,
#pulseaudio.muted{
  opacity: 0.6;
}

