/* Base Styling */
* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
  color: #ebdbb2;
}

window#waybar {
  background: #1d2021;
}

/* Workspace Buttons */
#workspaces button label {
  color: #ebdbb2;
  padding: 0 10px;
}
#workspaces button.active label {
  color: #1d2021;
}
#workspaces button.active {
  background: #a89984;
}

/* Shared Padding & Margin for Modules */
#power, #clock, #battery, #pulseaudio, #tray, #network,
#custom-power, #custom-microphone {
  padding: 0 10px;
  margin: 0;
}

/* Module Colors & Borders */
#network {
  color: #d79921;
  border-bottom: 5px solid #d79921;
}

#custom-power {
  color: #458588;
  border-bottom: 5px solid #458588;
}

#custom-power:hover {
  background-color: #458588;
  color: #1d2021;
}

#custom-microphone,
#custom-microphone.muted {
  color: #a89984;
  border-bottom: 5px solid #a89984;
}

#pulseaudio {
  color: #689d6a;
  border-bottom: 5px solid #689d6a;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #cc241d;
  border-bottom: 5px solid #cc241d;
}

#battery {
  color: #458588;
  border-bottom: 5px solid #458588;
}

#clock {
  color: #b16286;
  border-bottom: 5px solid #b16286;
}

#tray {
  color: #d65d0e;
  border-bottom: 5px solid #d65d0e;
}

